body {
	@include ralereg;
	@include font(0.625);
	line-height:1.5rem;
}

a {
	@include ralelight;
	text-decoration:none;
	color:darken($linkcolor,10%);
	@include font(1.6);
}
a:hover {
	// color: darken($linkcolor,20%);
	@include ralebold;
	// @include font(1.545);
}
p {
	@include ralereg;
	@include font(1.6);
	color:darken($maincolor,40%);
	margin-bottom:1.5rem;
}
h2 {
	@include ralebold;
	@include font(4);
	color:darken($maincolor,40%);
	margin-bottom:2rem;

}
h3 {
	@include ralebold;
	@include font(4);
	color:darken($maincolor,40%);
}
h4 {

}
img {
	width:80%;
	margin:1rem 10%;
}
header {
	width:100%;
	background: $maincolor;
	overflow: hidden;
}

.top {
	width:80%;
	margin:1rem 10%;
	li {
		display: inline-block;
		margin:0.5rem 2%;

	}
	a {
		color: lighten($maincolor,30%);
	}
	.live-links {
		width: 50%;
		margin:1rem 25%;
		text-align: center;
	}
}
.menu {
		width: 100%;
		margin: 0rem 0;
		display: none;
		
		li {
			margin: 0.5rem 1%;
		} 
	}

.show-width {
  background:#18a390;
  width:100px;
  height:40px;
  color:white;
  font-size:25px;
  top:1em;
  left:1em;
  position:fixed;
  z-index: 100000;
  font-family:'lato-light';
  p {
    text-align:center;
    margin:2px;
    font-family: 'lato-light';
	@include font(1.1);
	color:lighten($maincolor,50%);
	margin-top:0.5rem;
}

}
.pagewrap {
	width:80%;
	margin:2rem 10%;
}

.container-image {
	width:30%;
		margin:2rem 1.2%;
		display: inline-block;
		vertical-align: top;
	img:hover {
		background:lighten($maincolor,40%);
		box-shadow: 0.05rem 0.15rem 0.3rem 0.001rem darken($maincolor,40%);
	}
	figcaption {
		width: 80%;
		margin: 0rem 10%;
		text-align: center;
		@include font(0.8);
		color:darken($maincolor,40%);
	}
}
.container-image-2 {
	width:47%;
		margin:2rem 1.2%;
		display: inline-block;
		vertical-align: top;
	img:hover {
		background:lighten($maincolor,40%);
		box-shadow: 0.05rem 0.15rem 0.3rem 0.001rem darken($maincolor,40%);
	}
	figcaption {
		width: 80%;
		margin: 0rem 10%;
		text-align: center;
		@include font(0.8);
		color:darken($maincolor,40%);
	}
}

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,700|Cabin+Sketch:700|Marck+Script);

   	

.typo {
    clear: both;
    width: 80%;
    margin: 1.9em 10%;
    span {
    	@include font(1.3);
	}
}
.ex-head {
	clear: both;
    font-size: 70px;
    display: block;
    text-align: center;
    width: 250px;
    margin:0.3em 0% 0.5em 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 1em;
    color: #4F1E16;
    background:rgba(206,181,160,0.5);
    padding: 0.3em;   
}
.typo a:hover {
        color:#E9D0C7;
        font-family: 'Alegreya Sans SC', sans-serif;
}

.special {
    font-family: 'Marck Script', cursive;
    font-size:78px;

}
.ex-content {
    font-size: 15px;
    display: block;
    width: 100%;
    margin:2em 0% 0.5em 0%;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #4f1f15;
    background:rgba(206,181,160,0.5);
    padding: 1em;
}
.ex-link {
	font-size: 15px;
    display: block;
    width: 100%;
    margin:2em 0% 0.5em 0%;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #4f1f15;
    background:rgba(206,181,160,0.5);
    padding: 1em;
}
.ex-link a {
        font-family: 'Alegreya Sans SC', sans-serif;
        text-transform: none;
        text-decoration: underline;
        color: #4F1E16;
        font-weight: 700;
        font-size: 15px;
}


.ex-button {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: block;
    padding:0.5em;
    width: 80px;
    margin:2em 50% 0.5em 0%;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #4f1f15;
    border: 1px #E9D0C7 solid;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f1f15+0,ceb59d+100 */
	background: rgb(79,31,21); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(79,31,21,1) 0%, rgba(206,181,157,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,31,21,1)), color-stop(100%,rgba(206,181,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(79,31,21,1) 0%,rgba(206,181,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(79,31,21,1) 0%,rgba(206,181,157,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(79,31,21,1) 0%,rgba(206,181,157,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(79,31,21,1) 0%,rgba(206,181,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f1f15', endColorstr='#ceb59d',GradientType=0 ); /* IE6-9 */

}
.ex-button a {
        font-family: 'Alegreya Sans SC', sans-serif;
        text-transform: none;
        color: #4F1E16;
        font-weight: 700;
        font-size: 16px;
}
.ex-huge {
    font-family: 'Cabin Sketch', cursive;
    font-weight:700;
    text-align: center;
    color: #261305;
    margin: 3em 0%;
    background: rgba(139,103,78,0.5);
    border-radius: 50%;
    /*overflow: hidden;*/
    display: block;
    width: 300px;
    height: 300px;
    padding:4em;
}
span {
	.medium {
	    font-size: 61px;
	    margin:-0.3em;
	}
	.large {
	    font-size:191px;
	    line-height: 0.8em;
	}
}


.font-name {
font-size: 0.75em;
display: block;
font-family: Monaco, Andale Mono, Courier New, monospace;
color: #666;
width: 80%;
margin: 0.3em 10%;
}
.clarity {
    margin-left: 3em;
    font-size: 18px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    color: #ee7961;
}
.color-bubble {
    width: 70%;
    margin: 0.5em 15%;
    /*position: relative;*/
    float: left;
    clear: left;
}
.circle {
    width:100px;
    height:100px;
    border-radius: 50px;
    // float: left;
    margin-right: -1.5em;
    position: relative;
  /*  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;*/
    box-shadow:         0.7px 0.7px 0.5px 1px rgba(0,0,0,0.5);
    
}
.text {
        position: absolute;
        top:1em;
        left:7em;
        @include font(1.6);
        font-family: Monaco, Andale Mono, Courier New, monospace;
    	color: #ee7961;
}

.color-one {
    background: rgba(79,31,21,1);
    z-index: 1;
}
.color-two {
    background: rgb(233,208,198);
    z-index: 2;
	margin-top: 3em;
}
.color-three {
    background: rgb(206,181,157);
    z-index: 3;
	margin-top: 3em;
}
.color-four {
    background: rgb(174,134,107);
    z-index: 4;
	margin-top: 3em;
}
.color-five {
    background: white;
    z-index: 5;
    margin-top: 3em;
    margin-bottom: 4em;
}



































